<table style="width:100%">
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <tr>
      <td>{{day1}}<br><textarea id = "space1" rows="7"></textarea></td>
      <td>{{day2}}<br><textarea id = "space2" rows="7"></textarea></td>
      <td>{{day3}}<br><textarea id = "space3" rows="7"></textarea></td>
      <td>{{day4}}<br><textarea id = "space4" rows="7"></textarea></td>
      <td>{{day5}}<br><textarea id = "space5" rows="7"></textarea></td>
      <td>{{day6}}<br><textarea id = "space6" rows="7"></textarea></td>
      <td>{{day7}}<br><textarea id = "space7" rows="7"></textarea></td>
    </tr>
    <tr>
      <td>{{day8}}<br><textarea id = "space8" rows="7"></textarea></td>
      <td>{{day9}}<br><textarea id = "space9" rows="7"></textarea></td>
      <td>{{day10}}<br><textarea id = "space10" rows="7"></textarea></td>
      <td>{{day11}}<br><textarea id = "space11" rows="7"></textarea></td>
      <td>{{day12}}<br><textarea id = "space12" rows="7"></textarea></td>
      <td>{{day13}}<br><textarea id = "space13" rows="7"></textarea></td>
      <td>{{day14}}<br><textarea id = "space14" rows="7"></textarea></td>
    </tr>
    <tr>
      <td>{{day15}}<br><textarea id = "space15" rows="7"></textarea></td>
      <td>{{day16}}<br><textarea id = "space16" rows="7"></textarea></td>
      <td>{{day17}}<br><textarea id = "space17" rows="7"></textarea></td>
      <td>{{day18}}<br><textarea id = "space18" rows="7"></textarea></td>
      <td>{{day19}}<br><textarea id = "space19" rows="7"></textarea></td>
      <td>{{day20}}<br><textarea id = "space20" rows="7"></textarea></td>
      <td>{{day21}}<br><textarea id = "space21" rows="7"></textarea></td>
    </tr>
      <tr>
        <td>{{day22}}<br><textarea id = "space22" rows="7"></textarea></td>
        <td>{{day23}}<br><textarea id = "space23" rows="7"></textarea></td>
        <td>{{day24}}<br><textarea id = "space24" rows="7"></textarea></td>
        <td>{{day25}}<br><textarea id = "space25" rows="7"></textarea></td>
        <td>{{day26}}<br><textarea id = "space26" rows="7"></textarea></td>
        <td>{{day27}}<br><textarea id = "space27" rows="7"></textarea></td>
        <td>{{day28}}<br><textarea id = "space28" rows="7"></textarea></td>
      </tr>
      <tr>
        <td>{{day29}}<br><textarea id = "space29" rows="7"></textarea></td>
        <td>{{day30}}<br><textarea id = "space30" rows="7"></textarea></td>
        <td>{{day31}}<br><textarea id = "space31" rows="7"></textarea></td>
        <td>{{day32}}<br><textarea id = "space32" rows="7"></textarea></td>
        <td>{{day33}}<br><textarea id = "space33" rows="7"></textarea></td>
        <td>{{day34}}<br><textarea id = "space34" rows="7"></textarea></td>
        <td>{{day35}}<br><textarea id = "space35" rows="7"></textarea></td>
      </tr>
  </table>

  {% with list=[[1,2,3,4,5,6,7],[8,9,10,11,12,13,14],[15,16,17,18,19,20,21],[22,23,24,25,26,27,28],[29,30,31,32,33,34,35]]%}
        {% endwith %}